



  <span>Movilpedia</span>

  <!-- Se van a mostrar cuando la pantalla sea mayor a 700px -->
  <!-- Botón para la vista de Inicio -->
  <button id="menuInicio" mat-button routerLink="/inicio">Inicio</button>



  <span class="example-spacer"></span>

 

  <!-- Carrito -->
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <!--Label Para Modo Oscuro-->
  <label for="toggle" id="label_toggle"><i class="fa-solid fa-moon"></i></label>
  <input type="checkbox" id="toggle" (click)="cambiarFondo()">

