<div class="card" style="width: 18rem;">
    <img src="../../../../../assets/polentelme.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Polentelme </h5>
      <p class="6-text"> Polentelme es un jugador que antes de cada partido se come 3 platos de polenta para asi sacar su maximo potencial</p>
      <a href="#" class="btn btn-primary">VENDER</a>
    </div>
  </div>
  <p> Puntuar </p>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-primary">1</button>
      <button type="button" class="btn btn-primary">2</button>
      <button type="button" class="btn btn-primary">3</button>
      <button type="button" class="btn btn-primary">4</button>
      <button type="button" class="btn btn-primary">5</button>
      <button type="button" class="btn btn-primary">6</button>
      <button type="button" class="btn btn-primary">7</button>
      <button type="button" class="btn btn-primary">8</button>
      <button type="button" class="btn btn-primary">9</button>
      <button type="button" class="btn btn-primary">10</button>
    </div>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../../assets/burrito ortega.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../../assets/coco basile.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../../assets/ZIDANE.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>