.modal-footer{
    text-align: center;
    justify-content: center;
}
imagen-card{
width: 80px;height: 60px;
}

h1{
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
 }

 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 }
 p{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .card {
  transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

.card:hover {
  transform: scale(1.01); /* Escala levemente la card */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
}
.card-body:hover {
  background-color: #f8f9fa; /* Color de fondo claro al pasar el mouse */
}

.card-body .btn-secondary:hover {
  background-color: #e31313; /* Cambiar el color del botón de favoritos */
}
.reviews-section {
  margin-top: 40px;
}

.review-form {
  margin-bottom: 20px;
}

.review-list {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.review-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
