<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5>Movilpedia</h5>
          <p>Tu tienda de celulares preferida. Encuentra los mejores dispositivos al mejor precio.</p>
        </div>
        <div class="col">
          <h5>Enlaces Rápidos</h5>
          <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
          </ul>
        </div>
        <div class="col">
          <h5>Contacto</h5>
          <p>Email: <a href="mailto:info@movilpedia.com">infomovilpedia.com</a></p>
          <p>Teléfono: +1 (234) 567-890</p>
        </div>
        <div class="col">
          <h5>Redes Sociales</h5>
          <ul class="social-media">
            <li><a href="https://www.facebook.com" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f" style="font-size: 24px;"></i></a></li>
            <li><a href="https://www.twitter.com" target="_blank" aria-label="Twitter"><i class="fab fa-twitter" style="font-size: 24px;"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank" aria-label="Instagram"><i class="fab fa-instagram" style="font-size: 24px;"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="text-center">
        <p>&copy; 2024 Movilpedia. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  
  <!-- Incluye Font Awesome si no lo has hecho ya -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
  <!-- Estilos para el footer -->
  <style>
    .footer {
      background-color: #3c43a1;
      color: #fff;
      padding: 20px 0;
    }
  
    .footer a {
      color: #fff;
      text-decoration: none;
    }
  
    .footer a:hover {
      text-decoration: underline;
    }
  
    .footer .social-media {
      list-style: none;
      padding: 0;
    }
  
    .footer .social-media li {
      display: inline;
      margin-right: 10px;
    }
  </style>
  